<div class="row">
    <div class="col-12">
        <h2>Крафт датчика</h2>
    </div>

    <div class="col-0"></div>
    <div class="col-1">
        <input type="text" 
        class="form-control" 
        placeholder="Имя датчика"
        [(ngModel)]='name'>
    </div>

    <div class="col-1">
        <select class="custom-select" [(ngModel)]="status">
            <option [ngValue]="true">Вкл</option>
            <option [ngValue]="false">Выкл</option>
        </select>
    </div>

    <div class="col-12 mt-3 mb-3">
        <button class="btn btn-outline-primary btn-sm" (click)="onAddDet()">Добавить датчик</button>
    </div>
</div>